@media (max-width: 1170px) {
  .main {
    width: 850px;
  }

  .members {
    margin-left: 185px;
  }
}

@media (max-width: 1024px) {
  .main {
    width: 760px;
  }

  .website_redesign_logo_text {
    white-space: nowrap;
  }

  .members {
    margin-left: 95px;
  }

  .event_message_note {
    white-space: normal;
  }

  dialog {
    font-size: 12px;
  }

  menu > button {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .header {
    margin-top: 0;
  }

  .sidebar {
    width: 0;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    white-space: nowrap;
  }

  .sidebar:hover {
    color: #f1f1f1;
  }

  .sidebar .closebtn {
    position: absolute;
    top: 2px;
    right: 15px;
    font-size: 23px;
    margin-left: auto;
    display: block;
  }

  #main {
    transition: margin-left 0.5s;
    margin-left: 0;
    width: 768px;
  }

  .openbtn {
    width: 40px;
    height: 40px;
    background-color: #000000;
    border-radius: 10px;
    cursor: pointer;
    color: #ffc200;
    margin-right: 15px;
    border: none;
    display: inline-block;
  }

  .openbtn:hover {
    background-color: #696969;
  }

  .members {
    margin-left: 40px;
  }

  dialog {
    font-size: 10px;
  }

  menu > button {
    font-size: 10px;
  }
}

@media (max-width: 640px) {
  .main {
    max-width: 640px;
  }

  .openbtn {
    margin-left: -135px;
  }

  .menu_items {
    margin-left: 10px;
  }

  .item {
    margin-left: 4px;
  }

  .meatball_circle {
    margin-left: 0;
  }

  .website_redesign_logo_text {
    font-size: 0;
  }

  .website_redesign_logo_text::before {
    width: 40px;
    height: 40px;
    background-color: #ffc200;
    border-radius: 10px;
    background-image: url("assets/Shapes@2x.png");
    content: "";
    background-size: 40px 40px;
    display: inline-block;
    margin-right: 15px;
  }

  .members {
    margin-left: 0;
  }

  .members_photo img {
    margin-left: -20px;
  }

  .events {
    width: 100%;
  }

  .event_time {
    margin-left: -70px;
  }

  .members_share {
    height: 25px;
    width: 25px;
    font-size: 0;
  }

  .members_share::before {
    content: url("assets/share.svg");
  }

  .members_chat {
    height: 25px;
    width: 25px;
    font-size: 0;
  }

  .events_notification {
    padding-left: 15px;
  }

  .event_done span {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .event_message {
    margin-left: -100px;
  }

  .event_message span {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .event_download_main span {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .event_download_picture {
    flex-direction: column;
    justify-content: left;
    margin-left: 135px;
  }
}
